/Code/*
!/Code/*.c
!/Code/*.h
/Code/lex.yy.c
/Code/syntax.tab.*
!/Code/lexical.l
!/Code/syntax.y
!/Code/Makefile

/Test/tmp
/Test/**.out
/Test/**.asm

/Lab
report.pdf
parser
*.zip
Code/symtab_legacy.c

.DS_Store